.activeOrderWrapper {
    position: relative;
    width: 70%;
    margin: 0 auto 20px;
    padding: 0 10px;
}

.completedOrdersWrapper {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
}

.tableTitle,
.completedOrdersTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .activeOrderWrapper {
        width: 100%;
    }

    .completedOrdersWrapper {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {

    .activeOrderWrapper {
        padding: 0;
    }
}
