.tr {
    border-bottom: 1px solid #e6e6e6;
}

.tr td {
    padding: 0px 10px;
}

.tdLeft {
    display: flex;
    align-items: center;
}

.img {
    width: 60px;
    margin-right: 10px;
}

.nameWrapper {
    display: flex;
    align-items: center;
}

.name {
    font-weight: 600;
    margin-right: 5px;
}

.symbol {
    display: inline-block;
    transform: rotate(45deg);
    margin-right: 5px;
}

.quantity {
    font-weight: 600;
}
