.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
}

.item  > div:first-child {
	flex: 1 0 auto;
}
.item  > div:last-child {
	flex: 0 0 auto;
	width: 25%;
	text-align: center;
}

.left {
	display: flex;
	align-items: center;
}

.img {
	width: 60px;
	margin-right: 10px;
}