.button {
	background-color: #212121;
	color: #fff;
	border-radius: 6px;
	transition: .15s ease-in-out;
	text-transform: uppercase;
}

.button:hover {
	background: var(--colorPrimaryHover,#3a3a3a);
    border-color: var(--colorPrimaryHover,#3a3a3a);
}