.listWrapper {
  height: 1370px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.paginationBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
